<!doctype html>
<html lang="ja" ng-app>
<head>
	<meta charset="UTF-8">
	<title>AngularJSの練習</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="myscript.js"></script>
	<style>
	.even { background: #ccc; ;}
	.odd { background: pink; ;}
	</style>
</head>
<body>
	<h1>AngularJSの練習</h1>
	<div ng-controller="mainCtrl">
		<ul>
			<li ng-repeat="user in users" ng-controller="userItemCtrl">
				<!-- 「|」でフィルタを設定できる -->
				{{user.name}} {{user.score}}
				
				<button ng-click="increment()">+1</button>
			</li>
		</ul>
	</div>
</body>
</html>