<!doctype html>
<html lang="ja" ng-app>
<head>
	<meta charset="UTF-8">
	<title>AngularJSの練習</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="myscript.js"></script>
	<style>
	.even { background: #ccc; ;}
	.odd { background: pink; ;}
	</style>
</head>
<body>
	<h1>AngularJSの練習</h1>
	<div ng-controller="mainCtrl">
		<!-- novalidate属性はHTML5のValidationを止め、AngularJSのValidationを行うための属性 -->
		<form novalidate name="myForm" ng-submit="addUser()">
			<p>18+:
				<input type="checkbox" ng-model="user.adult" ng-true-value="adult" ng-false-value="child">
			</p>
			<p><input type="submit" value="add"></p>
			<p>Phone:
				<input type="radio" ng-model="user.phone" value="iPhone">iPhone
				<input type="radio" ng-model="user.phone" value="Android">Android
			</p>
			<p>Memo:
				<textarea name="" id="" cols="30" rows="10" ng-model="user.memo" ng-maxlength="140"></textarea>{{140-user.memo.length}}
			</p>
			<p><input type="submit" value="add"></p>
		</form>
		<pre>{{user|json}}</pre>
	</div>
</body>
</html>